@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root {
  height: 100%;
}

body {
  @apply bg-bg text-textHi bg-bd-glow;
  background-color: #09090F;
  background-attachment: fixed;
}

code, .mono {
  font-family: 'JetBrains Mono', monospace;
}

::selection {
  background: rgba(139, 92, 246, 0.35);
}
